{% extends 'base.twig' %}

{% block title %}Usuń kategorię{% endblock %}

{% block content %}

  

    <h1>
        Usuń kategorię
    </h1>

  {%  if is_granted('ROLE_ADMIN') or catUser == current %}
    
    <p>Czy napewno chcesz usunąć kategorię?</p>
    <form action="{{ url('/categories/delete/', {'idCategories': Category.idCategories}) }}" method="post">
        {{ form_widget(form) }}
    </form>

     <a href="{{ url('/categories/userCategories/', {'idUsers': catUser }) }}" title="Edit">Powrót do listy kategorii</a>
    {% else %}

    Brak dostępu.

    {% endif %}


      

{% endblock %}