{% extends 'base.twig' %}

{% block title %}Wyniki{% endblock %}

{% block content %}
    <h1>
       Wyniki
    </h1>

 {%  if is_granted('ROLE_ADMIN') or idUsers == current %}

    {%  if Results|length > 0 %}
        <table class="table">
            <thead>
            <tr>
                
                 <th>Data</th>
                 <th>Dobrze</th>
                 <th>Źle</th>
                 <th>Wynik %</th>
               
                <th colspan="2">&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            {% for result in Results %}
                <tr>
                    
                    <td>{{ result.date|e }}</td>
                    <td>{{ result.right|e }}</td>
                    <td>{{ result.wrong|e }}</td>
                
                    <td>

                        {% set suma = result.right  +  result.wrong  %}
                        {% if suma != 0 %}
                        {% set percent = (result.right / (result.right  +  result.wrong)) * 100  %}
                        {{ percent|round(1, 'floor') }} %
                        {% else %}
                        0 %
                        {% endif %}
                   
                    </td>
                    

                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>
            Nie znaleziono wyników.
        </p>
    {% endif %}

{% else %}

<h3 >Brak dostępu </h3> {% endif %}


    <a href="{{ url('usersview') }}">Wróć do swojego konta</a>

{% endblock %}