{% extends 'base.twig' %}

{% block title %}Dodaj nowe słowo{% endblock %}

{% block content %}
    <h1>
        Dodaj nowe słowo
    </h1>


    {% for flashMessage in app.session.getFlashBag.get('message') %}
        <div class="alert alert-{{ flashMessage.type }}">
            {{ flashMessage.content }}
        </div>
    {% endfor %}



    <form action="#" method="post">
        {{ form_widget(form) }}
        {#<input type="submit" name="submit" />#}
    </form>

       <a href="{{ url('/vocabulary/getFromCategory/', {'idCategories': category}) }}" title="Edit">Powrót do kategorii</a>
  

{% endblock %}
