{% extends 'base.twig' %}

{% block title %} Zaloguj się{% endblock %}

{% block content %}
    <h1>
        Zaloguj się
    </h1>

    {% for flashMessage in app.session.getFlashBag.get('message') %}
        <div class="alert alert-{{ flashMessage.type }}">
            {{ flashMessage.content }}
        </div>
    {% endfor %}
    
        {{ error }}
    <form action="{{ path('index_login_check') }}" method="post">
        {{ form_widget(form) }}

    Nie masz jeszcze konta? 
    <a href="{{ url('adduser') }}">Rejestracja</a>

    </form>
{% endblock %}