{% extends 'base.twig' %}

{% block title %}Dodaj Post{% endblock %}

{% block content %}
   
  {%  if is_granted('ROLE_ADMIN') %}

    <h1>
       Dodaj Post
    </h1>
    <form action="#" method="post">
        {{ form_widget(form) }}
      
    </form>

    {% else %}
    	Brak dostępu

    	{% endif %}

{% endblock %}
