{% extends "base.twig" %}

{% block title %}Aktualności{% endblock %}

{% block content %}


    <section id="content">

<!--  {%  if posts|length > 0 %} -->
    <h2 class="orange">Aktualności</h2>


        <div>
            {% if paginator.page > 1 %}
                {% set previous = (paginator.page - 1) %}
                <a href="{{ url('/posts/', {'page': previous}) }}" title="previous page"><img src="{{ app.request.basepath }}/img/left.png" alt="Poprzednie"></a>
            {%  endif %}

            {% if paginator.page < paginator.pagesCount %}
               {% set next = (paginator.page + 1) %}
               <a href="{{ url('/posts/', {'page': next}) }}" title="next page"><img src="{{ app.request.basepath }}/img/right.png" alt="Nastepne"></a>
            {% endif  %}
        </div>




    {% for post in posts %}
    <section class="post">
        <h4><a href="{{ url('/posts/getPost/', {'idPosts': post.idPosts}) }}">{{ post.title|e }}</a></h4>
        <h5><em>{{ post.date|format('d.m.Y, H:i') }}</em>, {{ post.author|e }}</h5>
        <p class="aktualnosci">
            {{ post.content|e| slice (0,900) }}[...]
      <a href="{{ url('/posts/getPost/', {'idPosts': post.idPosts}) }}" title="view post" class="orange">Czytaj więcej</a>

        </p>
    </section>
    {% endfor %} 

</section>
  {% else %}
                Nie znaleziono postow
    {% endif %}

{% endblock %}