{% extends 'base.twig' %}

{% block title %}Post{% endblock %}

{% block content %}
    {%  if posts|length > 0 %}

    {% for post in posts %}
    <section class="post">
        <h1>{{ post.title|e }}</h1>
        <h5><em>{{ post.date|format('d.m.Y, H:i') }}</em>, {{ post.author|e }}</h5>
        <p class="aktualnosci">
            {{ post.content|e }}            
        </p>
        <br>
        <h4>  <a href="{{ url('/posts/') }}" title="Index posts">Wróć do aktualności</h4>
    </section>
    {% endfor %} 
            </tbody>
        </table>
    {% else %}
        <p>
            Nie znaleziono kategorii.
        </p>
    {% endif %}
{% endblock %}