{% extends 'base.twig' %}

{% block title %}Usuń użytkownika{% endblock %}

{% block content %}
    <h1>
        Usuń użytkownika
    </h1>

 {%  if is_granted('ROLE_ADMIN') or idUser == current %}

    <p>Czy napewno chcesz usunąć użytkownika?</p>
    <form action="{{ url('/users/delete/', {'idUser': user.id}) }}" method="post">

        {{ form_widget(form) }}
    </form>
{% else %}

<h3>Brak dostępu </h3> {% endif %}





{% endblock %}