{% extends 'base.twig' %}

{% block title %}Twoje konto{% endblock %}

{% block content %}
    <h1>
    Twoje konto
    </h1>
         
        {% for flashMessage in app.session.getFlashBag.get('message') %}
        <div class="alert alert-{{ flashMessage.type }}">
            {{ flashMessage.content }}
        </div>
    {% endfor %}

         <!-- <h3> ID {{ idUser }}  </h3> -->
         <h3> ¡Hola  <b>{{ login|e }}</b>! </h3>
         

       <h3> Twoje <a href="{{ url('/categories/userCategories/', {'idUsers': idUser}) }}" title="kategorie"> słówka </a>  </h3>



         <h3> Sprawdź <a href="{{ url('/results/', {'idUsers': idUser}) }}" title="Edit"> wyniki </a> testów</h3>
        <h3> Twój e-mail to: <b>{{ email|e }}</b><br>Możesz go zmienić
    <a href="{{ url('/users/edit/', {'idUser': idUser}) }}" title="Edit user"> tutaj</a></h3>



    

{% endblock %}